<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Image Upload In Express | <a href="/">Go Back</a></h2>
    <table border="1" cellspacing="0" cellpadding="10">
        <tr>
            <th>UserName</th>
            <th>Description</th>
            <th>Aadhar Card</th>
            <th>Pan Card</th>
        </tr>
        <% imageData.forEach((imagedata)=>{ %>
        <tr>
            <th><%=imagedata.username%></th>
            <th><%=imagedata.description%></th>
            <th><img height="100" width="100" src="/images/<%=imagedata.file1%>" alt="image"></th>
            <th>
                <a href="/images/<%=imagedata.file2%>">click</a>
                <img height="100" width="100" src="/images/<%=imagedata.file2%>" alt="image"></th>
        </tr>
        <%})%>
    </table>
</body>
</html>