<%- include('./candidateHeader') %>

<section class="w3l-index2" id="services">
  <div class="features-main py-5 text-center">
    <div class="container py-lg-3">
      <div class="heading mx-auto">
        <h4 class="head">Vacancy List</h4>
        <center><h6><%=message%></h6></center>
      <br>  
      </div>

        <table border="1" style="font-size:11px" cellpadding="10" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Post</th>
                    <th>Subject</th>
                    <th>Location</th>
                    <th>Criteria</th>
                    <th>Experience</th>
                    <th>Duration</th>
                    <th>Vacancy</th>
                    <th>Salary</th>
                    <th>Adv.Date</th>
                    <th>LastDate</th>
                    <th>Recruiter <br> Email</th>
                    <th>Recruiter <br> Type</th>
                    <th>Recruiter <br> Name</th>
                    <th>Apply</th>
                </tr>
            </thead>
            <tbody>
                <%result.forEach((vacancyList)=>{%>
                  <tr>
                    <td><%=vacancyList.post%></td>
                    <td><%=vacancyList.subject%></td>
                    <td><%=vacancyList.location%></td>
                    <td><%=vacancyList.criteria%></td>
                    <td><%=vacancyList.experience%></td>
                    <td><%=vacancyList.duration%></td>
                    <td><%=vacancyList.vacancy%></td>
                    <td><%=vacancyList.salary%></td>
                    <td><%=vacancyList.advdate%></td>
                    <td><%=vacancyList.lastdate%></td>
                    <td><%=vacancyList.recruiteremail%></td>
                    <td><%=vacancyList.recruitertype%></td>
                    <td><%=vacancyList.recruitername%></td>
                    <td><a href="/appliedVacancy/applyVacancy?_id=<%=vacancyList._id%>&candidateemail=<%=candidateemail%>&recruiteremail=<%=vacancyList.recruiteremail%>&post=<%=vacancyList.post%>">Apply</a></td>
                  </tr>  
                <%})%>
            </tbody>
            <tfoot>
                <tr>
                    <th>Post</th>
                    <th>Subject</th>
                    <th>Location</th>
                    <th>Criteria</th>
                    <th>Experience</th>
                    <th>Duration</th>
                    <th>Vacancy</th>
                    <th>Salary</th>
                    <th>Adv.Date</th>
                    <th>LastDate</th>
                    <th>Recruiter <br> Email</th>
                    <th>Recruiter <br> Type</th>
                    <th>Recruiter <br> Name</th>
                    <th>Apply</th>
                </tr>
            </tfoot>
        </table>

    </div>
  </div>
</section>
    <!-- footer -->
    <footer class="w3l-footer">
      <div class="footer-29 py-5">
        <div class="container pb-lg-3">
          <div class="row footer-top-29">
            <div class="col-md-6 footer-list-29 footer-1 mt-md-4">
              <h6 class="footer-title-29">Contact Us</h6>
              <ul>
                <li>
                  <span class="fa fa-map-marker"></span>
                  <p> Workflow, 433 California St, Suite 300 San Francisco, <br>CA 94104, USA</p>
                </li>
                <li>
                  <span class="fa fa-phone"></span>
                  <a href="tel:+44 99 555 42"> +44 99 555 42</a></li>
                <li>
                  <span class="fa fa-envelope-open-o"></span>
                  <a href="mailto:mailid@mail.com" class="mail">
                    mailid@mail.com</a></li>
              </ul>
              <div class="main-social-footer-29">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>

            <div class="col-md-6 footer-list-29 footer-4 mt-md-4 mt-5">
              <h6 class="footer-title-29">Subscribe</h6>
              <p>Always know what’s happening in the
                world of applications. Recieve all
                latest post in your inbox.</p>
              <form action="#" method="post" class="rightside-form mt-4">
                <input type="email" name="email" placeholder="Enter your email">
                <button type="submit" class="btn"><span class="fa fa-search" aria-hidden="true"></span></button>
              </form>
              </ul>
            </div>
          </div>
          <div class="row bottom-copies">
            <p class="copy-footer-29 col-lg-7 text-lg-left text-center">© 2020 Worksmart. All rights reserved | Design by <a
                href="https://w3layouts.com/">W3Layouts</a></p>
            <ul class="list-btm-29 col-lg-5 text-lg-right text-center">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
        <span class="fa fa-angle-up"></span>
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- /move top -->
    </footer>
    <!-- // footer -->

    <!-- jQuery -->
    <script src="assets/js/jquery-3.4.1.slim.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- disable body scroll which navbar is in active -->
    <script>
      $(function () {
        $('.navbar-toggler').click(function () {
          $('body').toggleClass('noscroll');
        })
      });
    </script>
    <!-- disable body scroll which navbar is in active -->



    <script src="assets/js/owl.carousel.js"></script>
    <!-- script for teams1-->
    <script>
      $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
          loop: true,
          margin: 0,
          responsiveClass: true,
          responsive: {
            0: {
              items: 1,
              nav: true
            },
            667: {
              items: 2,
              nav: true,
              margin: 20
            },
            1000: {
              items: 4,
              nav: true,
              loop: true,
              margin: 25
            }
          }
        })
      })
    </script>
    <!-- //script for teams1-->

    <script>
      $(document).ready(function () {

        var $menuBtn = $('.menu-btn');
        var $nav = $('#nav');
        var $stylebox = $('#style-box');
        var $styleli = $stylebox.find('li');

        $menuBtn.on('click', function () {
          var $this = $(this);
          var styles = $stylebox.data('styles');
          $this.toggleClass("active");
          $this.next('#nav').toggleClass("open");
          $stylebox.toggleClass(styles);
        });

        $nav.addClass('topslide');

        $styleli.on('click', function () {
          var $this = $(this);
          $this.siblings().removeClass('now');
          $this.addClass('now');
          var styles = $this.data('styles');
          $nav.removeClass();
          $nav.addClass(styles);
          $nav.siblings('#style-box').removeClass();
          $nav.siblings('#style-box').data('styles', styles);
        });
      });
    </script>

    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-slide-bottom'
        });
      });
    </script>

    </body>

    </html>