<%- include('./recruiterHeader') %>
<style>
    input,select,textarea,label{
        margin:5px;
    }
</style>
<section style="margin-top: -100px;" class="w3l-index3">
  <div class="midd-w3 py-5">
    <div class="container py-xl-5 py-lg-3">
      <div class="row">
        <div class="col-lg-6 left-wthree-img text-right">
          <img src="assets/images/g5.jpg" alt="" class="img-fluid rounded" />
        </div>
        <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq">
          <h3 class="text-da">Update Vacancy</h3>
          <form action="/vacancy/updateVacancy?_id=<%=result._id%>&_method=put" method="post" class="form-group">
            <input required class="form-control" value="<%=result.post%>" type="text" placeholder="Enter Post" id="post" name="post">
            
            <select required name="subject" id="subject" class="form-control">
                <option value="<%=result.subject%>"><%=result.subject%></option>
                <option value="Primary Subjects">Primary Subjects</option>
                <option value="Mathematics">Mathematics</option>
                <option value="Physics">Physics</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Biology">Biology</option>
                <option value="Accounts">Accounts</option>
                <option value="Business Studies">Business Studies</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Data Structure">Data Structure</option>
                <option value="IP">IP</option>
                <option value="AI">AI</option>
                <option value="Data Base">Data Base</option>
                <option value="Cloud Computing">Cloud Computing</option>
                <option value="Computer Graphics">Computer Graphics</option>

            </select>
            
            <input required class="form-control" value="<%=result.location%>" type="text" placeholder="Enter Location" id="location" name="location">

            <select required name="criteria" id="criteria" class="form-control">
                <option value="<%=result.criteria%>"><%=result.criteria%></option>
                <option value="B.ED">B.ED</option>
                <option value="D.ED">D.ED</option>
                <option value="Graduate">Graduate</option>
                <option value="Post Graduate">Post Graduate</option>
                <option value="PHD">PHD</option>
            </select>
            
            <select required name="experience" id="experience" class="form-control">
                <option value="<%=result.experience%>"><%=result.experience%></option>
                <option value="Fresher">Fresher</option>
                <option value="0-12 months">0-12 months</option>
                <option value="1+ Year">1+ Year</option>
                <option value="2+ Year">2+ Year</option>
                <option value="3+ Year">3+ Year</option>
                <option value="4+ Year">4+ Year</option>
                <option value="5+ Year">5+ Year</option>
            </select>

            <select required name="duration" id="duration" class="form-control">
                <option value="<%=result.duration%>"><%=result.duration%></option>
                <option value="Part Time">Part Time</option>
                <option value="Full Time">Full Time</option>
            </select>

            <input required class="form-control" value="<%=result.vacancy%>" type="number" min="1" placeholder="Enter No. of Vacancy" id="vacancy" name="vacancy">

            <input required class="form-control" value="<%=result.salary%>" type="number" min="5000" placeholder="Enter salary" id="salary" name="salary">

            <label>Advertisement Date</label>
            <input required class="form-control" value="<%=result.advdate%>" type="date" id="advdate" name="advdate">
            <label>Last Date</label>
            <input required class="form-control" value="<%=result.lastdate%>" type="date" id="lastdate" name="lastdate">
            
            <input class="btn btn-primary btn-block" type="submit" value="Update Vacancy"> 
            
            <input class="btn btn-danger btn-block" type="reset" value="Reset">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- footer -->
    <footer class="w3l-footer">
      <div class="footer-29 py-5">
        <div class="container pb-lg-3">
          <div class="row footer-top-29">
            <div class="col-md-6 footer-list-29 footer-1 mt-md-4">
              <h6 class="footer-title-29">Contact Us</h6>
              <ul>
                <li>
                  <span class="fa fa-map-marker"></span>
                  <p> Workflow, 433 California St, Suite 300 San Francisco, <br>CA 94104, USA</p>
                </li>
                <li>
                  <span class="fa fa-phone"></span>
                  <a href="tel:+44 99 555 42"> +44 99 555 42</a></li>
                <li>
                  <span class="fa fa-envelope-open-o"></span>
                  <a href="mailto:mailid@mail.com" class="mail">
                    mailid@mail.com</a></li>
              </ul>
              <div class="main-social-footer-29">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>

            <div class="col-md-6 footer-list-29 footer-4 mt-md-4 mt-5">
              <h6 class="footer-title-29">Subscribe</h6>
              <p>Always know what’s happening in the
                world of applications. Recieve all
                latest post in your inbox.</p>
              <form action="#" method="post" class="rightside-form mt-4">
                <input type="email" name="email" placeholder="Enter your email">
                <button type="submit" class="btn"><span class="fa fa-search" aria-hidden="true"></span></button>
              </form>
              </ul>
            </div>
          </div>
          <div class="row bottom-copies">
            <p class="copy-footer-29 col-lg-7 text-lg-left text-center">© 2020 Worksmart. All rights reserved | Design by <a
                href="https://w3layouts.com/">W3Layouts</a></p>
            <ul class="list-btm-29 col-lg-5 text-lg-right text-center">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
        <span class="fa fa-angle-up"></span>
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- /move top -->
    </footer>
    <!-- // footer -->

    <!-- jQuery -->
    <script src="assets/js/jquery-3.4.1.slim.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- disable body scroll which navbar is in active -->
    <script>
      $(function () {
        $('.navbar-toggler').click(function () {
          $('body').toggleClass('noscroll');
        })
      });
    </script>
    <!-- disable body scroll which navbar is in active -->



    <script src="assets/js/owl.carousel.js"></script>
    <!-- script for teams1-->
    <script>
      $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
          loop: true,
          margin: 0,
          responsiveClass: true,
          responsive: {
            0: {
              items: 1,
              nav: true
            },
            667: {
              items: 2,
              nav: true,
              margin: 20
            },
            1000: {
              items: 4,
              nav: true,
              loop: true,
              margin: 25
            }
          }
        })
      })
    </script>
    <!-- //script for teams1-->

    <script>
      $(document).ready(function () {

        var $menuBtn = $('.menu-btn');
        var $nav = $('#nav');
        var $stylebox = $('#style-box');
        var $styleli = $stylebox.find('li');

        $menuBtn.on('click', function () {
          var $this = $(this);
          var styles = $stylebox.data('styles');
          $this.toggleClass("active");
          $this.next('#nav').toggleClass("open");
          $stylebox.toggleClass(styles);
        });

        $nav.addClass('topslide');

        $styleli.on('click', function () {
          var $this = $(this);
          $this.siblings().removeClass('now');
          $this.addClass('now');
          var styles = $this.data('styles');
          $nav.removeClass();
          $nav.addClass(styles);
          $nav.siblings('#style-box').removeClass();
          $nav.siblings('#style-box').data('styles', styles);
        });
      });
    </script>

    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-slide-bottom'
        });
      });
    </script>

    </body>

    </html>